@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #18215d;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  background-image: url(./assets/home.png);
  background-size: cover;
}

.home > h1 {
  color: #bf53c9;
  font-size: 5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.bts-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns-home {
  margin-bottom: 0.5rem;
  width: 30vw;
  height: 5vw;
  cursor: pointer;
  background-color: #9845a0;
  color: #fff;
  border: 2px solid #bf53c9;
}

.btns-home:hover {
  scale: 1.05;
}

#developer {
  transform: rotate(25deg);
  color: #fff;
  position: fixed;
  left: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.1rem;
  }
  100% {
    font-size: 1rem;
  }
}

canvas {
  cursor: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #acacac;
  display: none;
}
.content {
  display: flex;
}

.telaConversa {
  width: 100vw;
  border: 1vw solid #121946;
  background-color: #18215d;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3vw 5vw 5vw 5vw;
  display: none;
  color: #fff;
}

.enter {
  width: 64px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.dialogo {
  letter-spacing: 1px;
  line-height: 25px;
}

.book {
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: #252525;
  border: 10px solid black;
  display: none;
}

.btns-book {
  width: 100%;
  height: 10%;
}

.btns-book > button {
  width: 50%;
  border: none;
  height: 100%;
}

.area-text-book {
  width: 100%;
  height: 90%;
  font-size: 1rem;
}

.credit {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #bf53c9;
  border: 3px solid #9845a0;
  text-align: center;
  padding: 1rem;
  display: none;
}

.credit > h1 {
  margin: 3rem;
}

.credit > p {
  margin: 1rem;
}

.credit > button {
  width: 20%;
  height: 10%;
  background-color: #542858;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  padding: 3vw;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: none;
}

input {
  height: 2rem;
  text-align: center;
}

.text-player {
  padding: 3vw;
  width: 100%;
  height: 100%;
}

.screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: #536c81;
  border: 10px solid black;
  display: none;
}

.password {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.password > button {
  width: 20%;
  height: 10%;
}

.windows {
  background-image: url(./assets/peakpx.jpg);
  background-size: cover;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #252525;
  color: #fff;
  display: none;
}

.end {
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  display: none;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #121946;
  overflow: hidden;
  line-height: 2rem;
}

@keyframes end {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mapa {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  border: 3px solid #542858;
  display: none;
}

.mapa > img {
  width: 100%;
}

.end > p {
  width: 40%;
  margin: auto;
}

.endtoend {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions {
  width: 10%;
  padding: 0.5%;
  height: auto;
  margin: 10px;
  text-align: center;
  font-size: 0.7rem;
  cursor: pointer;
}

.questions:hover {
  background-color: #e7e7e781;
}

.questions > img {
  width: 80%;
}

.charad-container {
  width: 100%;
  height: 100%;
  background-color: #252525;
  position: fixed;
  top: 0%;
  left: 0%;
  display: none;
}

.header {
  text-align: center;
  width: 5%;
  padding: 0.6rem 0;
  background-color: #b10000;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.content-charad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content-charad > button {
  padding: 2rem 4rem;
}

.content-questions {
  width: 100%;
  height: 100%;
  background-color: #252525;
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 1rem;
  overflow-y: scroll;
  display: none;
}

.content-questions > h1,
.menu > h1 {
  margin: 3rem 1rem;
  text-align: center;
  color: #fff;
}

.content-questions > h3,
.menu > h2 {
  font-size: 1rem;
  margin: 1rem;
  color: #c4a6c7;
}

.content-questions > p,
.menu > p {
  font-size: 1rem;
  margin: 0.5rem;
  color: #fff;
}

.active {
  display: block;
}

.close {
  position: fixed;
  bottom: 0;
  width: 4rem;
  height: 2rem;
  text-align: center;
  background-color: #252525;
  color: #fff;
}

.congratulations {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
